{% extends 'base.html' %}

{% block title %}Inicio - Mi Portafolio{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-image">
            <img src="static/images/profile.jpg" alt="Tu Imagen de Perfil">
        </div>
        <div class="hero-content">
            <h1>¡Hola! Soy Alvaro Pérez</h1>
            <p class="lead">Desarrollador de software con una visión innovadora.</p>
            <p>
				Madrileño de 31 años con la energía del deporte en las venas y la curiosidad insaciable de un alma inquieta. Di un giro de 
				180º desde los fogones a las líneas de código, descubriendo una nueva pasión en el desarrollo web.
				  Mi inquietud me impulsa a explorar cada rincón del mundo digital, construyendo experiencias online tan dinámicas y 
				  emocionantes como la adrenalina de un sprint final. ¡Preparado para inyectar dinamismo y creatividad en cada proyecto web que emprendo!</p>
            <div class="hero-actions">
                <a href="/proyectos" class="button primary">Ver mis Proyectos</a>
                <a href="/contacto" class="button secondary">Contáctame</a>
            </div>
        </div>
    </section>

    {% endblock %}